<%= flash[:notice] %>
<table>
  <thead>
  	<tr>
  	  <th>User ID</th>
  	  <th>Name</th>
  	  <th>Songs</th>
  	</tr>
  </thead>
  <tbody>
  	<% @playlists.each do |playlist| %>
  	  <tr>
  	  	<td><%= playlist.user_id %></td>
  	  	<td><%= playlist.name %></td>
  	  	<td><%= playlist.mp3_ids.split(',').each { |id| Mp3.find(id) rescue nil }.compact.map &:titleize %></td>
  	  </tr>
  	<% end %>
  </tbody>
</table>
<div>

<h4>Import data</h4>
  <%= form_tag import_playlists_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>